# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build output
dist/
build/
out/

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Environment files
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# TypeScript cache
*.tsbuildinfo

# Local dev
.idea/
.cache/
